@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  scale: 1;
}

body, html {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}
section {
  padding: 9% 13%;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.1rem;
  color: rgb(115, 115, 115);
}

.btn {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

.blue {
  color: rgb(35, 166, 240);
}

.red {
  color: rgb(231, 64, 64);
}

.gray {
  color: rgb(115, 115, 115);
}

.l-gray {
  color: rgb(200, 197, 197);
}

.green {
  color: rgb(55, 179, 55);
}

.blue-bg {
  background-color: rgb(35, 166, 240);
}

.red-bg {
  background-color: rgb(231, 64, 64);
  color: white;
}

.bold {
  font-weight: bolder;
}

.stick {
  display: inline-block;
  width: 6rem;
  padding: 0.1rem;
}

.fa-star, .fa-star-half-alt {
  color: rgb(255, 206, 49);
}

.fab {
  color: rgb(35, 166, 240);
  margin: 0.5rem;
  margin-top: 2rem;
  scale: 1.4;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero-2-cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}
header #menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 1.5rem;
  margin-bottom: 7rem;
}
header #menu h1 {
  position: relative;
  left: 10%;
  font-size: 1.4rem;
}
header #menu nav {
  position: relative;
  left: 15%;
  font-size: 1rem;
  display: flex;
  width: 25%;
}
header #menu nav.active {
  display: flex;
}
header #menu nav a {
  margin: 0 auto;
  color: white;
}
header #menu #logging {
  position: relative;
  left: 35%;
  align-items: center;
}
header #menu #logging #login {
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
}
header #menu #logging #login:hover {
  background: rgb(35, 166, 240);
  border-radius: 0.5rem;
  padding: 1rem;
}
header #menu #logging #login-btn {
  display: none;
}
header #menu #logging .btn-menu {
  width: 3rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin: 0 0.4rem;
  position: relative;
  top: 0.5rem;
  cursor: pointer;
  display: none;
}
header #menu #logging .btn {
  margin-left: 2rem;
  background: rgb(35, 166, 240);
}
header #content {
  margin: auto;
  padding: 5rem;
  text-align: center;
}
header #content #p1 {
  font-size: 1.7rem;
  font-weight: 900;
}
header #content #p2, header #content #p2_ {
  color: white;
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
}
header #content #p2 {
  margin-top: 3rem;
}
header #content #p3 {
  margin: 3rem 0 2rem 0;
  color: white;
  text-transform: initial;
}
header #content .btn {
  color: white;
  background: rgb(35, 166, 240);
}

.login_sec {
  position: fixed;
  top: 7rem;
  left: 0;
  right: 0;
  background: white;
  width: 100%;
  height: calc(100vh - 7rem);
  z-index: 1000;
  animation: fadeUp 0.4s linear;
  display: none;
}
.login_sec.active {
  display: flex;
}
.login_sec .content {
  margin: auto;
  padding: 2rem 2rem;
  border: 1px solid rgb(200, 197, 197);
  border-radius: 1rem;
}
.login_sec .content h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.login_sec .content form {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login_sec .content form input {
  display: flex;
  width: 100%;
  background: rgb(200, 197, 197);
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
}
.login_sec .content form input[type=submit] {
  background: rgb(35, 166, 240);
  color: white;
  border: 1px solid rgb(35, 166, 240);
  border-radius: 0.4rem;
  padding-left: 40%;
  margin: auto;
}
.login_sec .content form input[type=submit]:hover {
  background: rgb(55, 179, 55);
  color: white;
  transition: 1s ease;
}
.login_sec .content form p {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  gap: 1rem;
}
.login_sec .content form p input {
  width: 20px;
  margin-left: 5px;
}
.login_sec .content p {
  font-size: 0.9rem;
}

.signupSec {
  position: fixed;
  top: 7rem;
  left: 0;
  right: 0;
  background: white;
  width: 100%;
  height: 90%;
  animation: fadeUp 0.4s linear;
  z-index: 1000;
  display: none;
}
.signupSec.active {
  display: flex;
}
.signupSec .content {
  margin: auto;
  padding: 2rem 2rem;
  border: 1px solid rgb(200, 197, 197);
  border-radius: 1rem;
}
.signupSec .content h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.signupSec .content form {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.signupSec .content form input {
  display: flex;
  width: 100%;
  background: rgb(200, 197, 197);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}
.signupSec .content form input[type=submit] {
  background: rgb(35, 166, 240);
  color: white;
  border: 1px solid rgb(35, 166, 240);
  border-radius: 0.4rem;
  margin: auto;
  padding-left: 40%;
}
.signupSec .content form input[type=submit]:hover {
  background: rgb(55, 179, 55);
  color: white;
  transition: 1s ease;
}
.signupSec .content p {
  font-size: 0.9rem;
}

#advice .container h2 {
  margin: 1rem 0;
}
#advice .container .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 2rem;
  padding: 5rem 0;
}
#advice .container .card-container p {
  font-size: 18px;
}
#advice .container .card-container .card {
  padding: 2rem 2rem;
  text-align: left;
  background: white;
  box-shadow: 0rem 13px 19px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  width: 17rem;
  max-width: 19rem;
}
#advice .container .card-container .card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}
#advice .container .card-container .card .image-container {
  width: 70px;
  height: 76px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#advice .container .card-container .card .image-container img {
  margin: auto;
  width: 32px;
  height: 32px;
}
#advice .container .card-container .card .cont1 {
  background: rgb(255, 220, 209);
}
#advice .container .card-container .card .cont2 {
  background: rgb(185, 234, 168);
}
#advice .container .card-container .card .cont3 {
  background: rgb(178, 227, 255);
}
#advice .container .card-container .card .stick {
  width: 25%;
  margin-bottom: 0.8rem;
}

.course {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course .img-container {
  width: 30rem;
}
.course .img-container img {
  width: 30rem;
}
.course .writing {
  position: relative;
  left: 3rem;
  top: 1.5rem;
  width: 29rem;
}
.course .writing span {
  padding: 0.2rem;
}
.course .writing h2 {
  margin: 1.7rem 0;
  font-size: 40px;
  line-height: 50px;
}
.course .writing p {
  margin-bottom: 1.3rem;
}

.sales .container h2 {
  margin: 1rem 0;
}
.sales .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  align-items: center;
  margin-top: 5rem;
}
.sales .card-container .card {
  display: flex;
  flex-direction: column;
  width: 280px;
  position: relative;
}
.sales .card-container .card img {
  width: 280px;
  height: 280px;
}
.sales .card-container .card .onImage {
  position: absolute;
}
.sales .card-container .card .onImage .status {
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  position: inherit;
  left: 0.9rem;
  top: 1.3rem;
}
.sales .card-container .card .onImage .logos {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  position: inherit;
  left: 5rem;
  top: 14rem;
}
.sales .card-container .card .onImage .logos div {
  padding: 12px 10px 9px 10px;
  background: white;
  border-radius: 20px;
}
.sales .card-container .card .onImage .logos div .logo {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.sales .card-container .card .content {
  padding: 1rem;
  width: 300px;
}
.sales .card-container .card .content .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6.5rem;
  width: 4rem;
}
.sales .card-container .card .content .flex .rate {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
}
.sales .card-container .card .content .sector {
  margin: 1rem 0;
}
.sales .card-container .card .content .ico {
  width: 15px;
  height: 15px;
}
.sales .card-container .card .content .ico img {
  width: 15px;
  height: 15px;
}
.sales .card-container .card .content .numberSold {
  margin: 0.6rem 0;
}
.sales .card-container .card .content .price {
  margin: 1rem 0;
  font-size: 1.1rem;
}
.sales .card-container .card .content .flx {
  display: flex;
  justify-content: space-between;
  margin: 0 0.1rem;
}
.sales .card-container .card .content .flx span {
  font-size: 0.9rem;
}
.sales .card-container .card .content a {
  position: relative;
  top: 1.3rem;
  left: 30%;
  padding: 0.5rem;
  border-radius: 1.5rem;
  border: 1px solid rgb(35, 166, 240);
}

.rates .opinion-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1rem;
  margin: 5rem 0;
}
.rates .opinion-container .opinion {
  width: 11rem;
}
.rates .opinion-container .opinion p {
  text-align: center;
}
.rates .opinion-container .opinion .stars {
  margin: 0 1.5rem;
}
.rates .opinion-container .opinion .poster {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}
.rates .opinion-container .opinion .poster img {
  border-radius: 2rem;
}
.rates .opinion-container .opinion .poster p {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.newletter .container {
  text-align: center;
}
.newletter .container h2 {
  margin: 1rem;
}
.newletter form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem;
}
.newletter form input[type=email] {
  padding: 1rem 1rem;
  width: 35rem;
  background: rgba(242, 240, 240, 0.4);
  border: 1px solid rgb(218, 208, 208);
  border-radius: 0.2rem;
}
.newletter form input[type=submit] {
  padding: 1rem 0.5rem;
  color: white;
  border-radius: 0.2rem;
  width: 8rem;
}

footer .foot {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 3rem;
  padding: 2rem;
  justify-content: center;
}
footer .foot .bloc h3 {
  margin: 1rem 0;
}
footer .foot .bloc .content {
  display: flex;
  flex-direction: column;
}
footer .foot .bloc .content a {
  margin: 0.5rem 0;
  color: rgb(35, 166, 240);
}
footer .copyright {
  text-align: center;
  text-transform: capitalize;
  padding: 1.5rem;
  background: rgb(242, 240, 240);
}

@media (max-width: 645px) {
  footer .foot {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  header #content {
    padding: 0;
    scale: 0.8;
  }
}
@media (min-width: 646px) and (max-width: 870px) {
  footer .foot {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 15rem;
  }
}
@media (max-width: 870px) {
  .course .img-container {
    width: 20rem;
  }
  .course .img-container img {
    width: 20rem;
  }
  .course .writing {
    scale: 0.8;
  }
  .rates .opinion-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    scale: 1;
  }
  .rates .opinion-container .opinion {
    margin: auto;
  }
}
@media (min-width: 871px) and (max-width: 1045px) {
  .rates .opinion-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    margin: 3rem 0;
    scale: 0.8;
  }
}
@media (max-width: 1045px) {
  header #menu #logging {
    left: 50%;
  }
  header #menu #logging #login, header #menu #logging #signup {
    display: none;
  }
  header #menu #logging #login-btn {
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    top: 0rem;
  }
  header #menu #logging #login-btn:hover {
    background: rgb(35, 166, 240);
    transition: 1s ease;
  }
  #advice .container .card-container, .sales .card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    scale: 1;
  }
  #advice .container .card-container .card, .sales .card-container .card {
    margin: auto;
  }
  .course {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 1210px) {
  header #menu nav {
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    background: white;
    border-top: 0.5rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5rem solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 26vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header #menu nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 1s ease;
  }
  header #menu nav a {
    text-align: left;
    font-size: 1rem;
    margin: 0.5rem;
    color: black;
  }
  header #menu #logging {
    align-items: end;
  }
  header #menu #logging .btn-menu {
    display: inline-block;
    top: 1rem;
    color: white;
    fill: white;
  }
  header #menu #logging .btn-menu:hover {
    background-color: rgb(35, 166, 240);
    transition: 1s ease;
  }
}
@media (min-width: 1046px) and (max-width: 1210px) {
  section {
    padding: 9% 6%;
  }
  #advice .container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    scale: 0.8;
  }
  .course {
    margin: auto;
  }
  .sales .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    scale: 0.8;
    margin: 9% 4%;
  }
}/*# sourceMappingURL=style.css.map */