@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
    scale: 1;
}

body, html {
    height: 100%;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

$dark-bg: rgba(0, 0, 0, 0.5);

$blue: rgba(35, 166, 240, 1);
$light-blue: rgba(178, 227, 255, 1);

$red: rgba(231, 64, 64, 1);
$light-red: rgba(255, 220, 209, 1);

$gray: rgb(115, 115, 115);
$light-gray: rgb(200, 197, 197);

$green: rgb(55, 179, 55);
$light-green: rgba(185, 234, 168, 1);

$yellow: rgba(255, 206, 49, 1);
$border: .5rem solid rgba(0,0,0,.2);
$box-shadow: 0rem 13px 19px rgba(0,0,0, .1);

@mixin grid($val, $gap) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: $gap;
}


// animation
@keyframes fadeUp{
    0%{
        transform: translateY(5rem);
        opacity: 0;
    }
}

section{
    padding: 9% 13%;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 1.1rem;
    color: $gray;
}

.btn{
    cursor: pointer;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}


//colors
.blue{
    color: $blue;
}

.red{
    color: $red;
}
.gray{
    color: $gray;
}
.l-gray{
    color: $light-gray;
}
.green{
    color: $green;
}

.blue-bg{
    background-color: $blue;
}

.red-bg{
    background-color: $red;
    color: white;
}
//colors class end

.bold{
    font-weight: bolder;
}


// trait
.stick{
    display: inline-block;
    width: 6rem;
    padding: .1rem;
}

//stars
.fa-star, .fa-star-half-alt{
    color: $yellow;
}

//Social network
.fab{
    color: $blue;
    margin: .5rem;
    margin-top: 2rem;
    scale: 1.4;
}

//section class starts
header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero-2-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-weight: bolder;
    display: flex;
    flex-direction: column;

    #menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        color: white;
        padding: 1.5rem;
        margin-bottom: 7rem;

        h1{
            position: relative;
            left: 10%;
            font-size: 1.4rem;
        }

        nav{
            position: relative;
            left: 15%;
            font-size: 1rem;
            display: flex;
            width: 25%;

            &.active{
                display: flex;
            }

            a{
                margin: 0 auto;
                color: white;
                
            }
        }

        #logging{
            position: relative;
            left: 35%;
            align-items: center;

            #login{
                cursor: pointer;
                padding: 1rem;
                border-radius: .5rem;

                &:hover{
                    background: $blue;
                    border-radius: .5rem;
                    padding: 1rem;
                }

            }

            #login-btn{
                display: none;
            }

            .btn-menu{
                width: 3rem;
                padding: .8rem;
                border-radius: .5rem;
                margin: 0 .4rem;
                position: relative;
                top: .5rem;
                cursor: pointer;
                display: none;
            }

            .btn{
                margin-left: 2rem;
                background: $blue;
            }
        }
    }

    #content{
        margin: auto;
        padding: 5rem;
        text-align: center;

        #p1{
            font-size: 1.7rem;
            font-weight: 900;
        }

        #p2, #p2_{
            color: white;
            font-size: 4rem;
            font-weight: bolder;
            text-transform: uppercase;
        }

        #p2{
            margin-top: 3rem;
        }
        
        #p3{
            margin: 3rem 0 2rem 0;
            color: white;
            text-transform: initial;
        }

        .btn{
            color: white;
            background: $blue;
        }
    }
}

.login_sec{
    position: fixed;
    top: 7rem; left: 0 ;  right: 0;
    width: 100%;
    height: calc(100vh - 7rem);
    z-index: 1000; 
    animation: fadeUp .4s linear;
    display: none;

    // remove bg color here 
    background: transparent;


    &.active{
        display: flex;
    }

    .content{
        // fix content in order to manager her position
        position: fixed;
        right: 10px;
        margin: auto;
        // add a white bg color here 
        background: #fff;
        padding: 2rem 2rem;
        border: 1px solid $light-gray;
        border-radius: 1rem;

        h2{
            font-size: 1.5rem;
            margin: 1rem 0;
        }

        form{
            margin-top: 2rem;
            margin-bottom: 1rem ;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input{
                display: flex;
                width: 100%;
                background: $light-gray;
                padding: .4rem .5rem;
                border-radius: .5rem;
            }

            input[type="submit"]{
                background: $blue;
                color: white;
                border: 1px solid $blue;
                border-radius: .4rem;
                padding-left: 40%;
                margin: auto;

                &:hover{
                    background: $green;
                    color: white;
                    transition: 1s ease;
                }
                
            }

            p{
                display: flex;
                flex-direction: row;
                font-size: .9rem;
                gap: 1rem;
                
                input{
                    width: 20px;
                    margin-left: 5px;
                }
            }
        }

        p{
            font-size: .9rem;
        }
    }
}

.signupSec{
    position: fixed;
    top: 7rem; left: 0; right: 0;
    background: white;
    width: 100%;
    height: 90%;
    animation: fadeUp .4s linear;
    z-index: 1000;
    display: none;


    &.active{
        display: flex;
    }

    .content{
        margin: auto;
        padding: 2rem 2rem;
        border: 1px solid $light-gray;
        border-radius: 1rem;

        h2{
            font-size: 1.5rem;
            margin: 1rem 0;
        }

        form{
            margin-top: 2rem;
            margin-bottom: 1rem ;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input{
                display: flex;
                width: 100%;
                background: $light-gray;
                padding: .5rem .5rem;
                border-radius: .5rem;
            }

            input[type="submit"]{
                background: $blue;
                color: white;
                border: 1px solid $blue;
                border-radius: .4rem;
                margin: auto;
                padding-left: 40%;

                &:hover{
                    background: $green;
                    color: white;
                    transition: 1s ease;
                }
                
            }

        }
        p{
            font-size: .9rem;
        }
    }
}

#advice .container{
    h2{
        margin: 1rem 0;
    }


    .card-container{
        @include grid(17rem, 2rem);
        padding: 5rem 0;

        p{
            font-size: 18px;
        }

        .card{
            padding: 2rem 2rem;
            text-align: left;
            background: white;
            box-shadow: $box-shadow;
            min-width: 100px;
            width: 17rem;
            max-width: 19rem;

            h3{
                font-size : 1.5rem;
                font-weight: 700;
                margin: 1rem 0;

            }

            .image-container{
                width: 70px;
                height: 76px;
                border-radius: 10px;
                display: flex;
                align-items: center;

                img{
                    margin: auto;
                    width: 32px;
                    height: 32px;
                }
            }

            .cont1{
                background: $light-red;
            }

            .cont2{
                background: $light-green;
            }

            .cont3{
                background: $light-blue;
            }

            .stick{
                width: 25%;
                margin-bottom: 0.8rem;
            }
        }
    }
}

.course{
    display: flex;
    justify-content: center;
    align-items: center;

    .img-container{
        width: 30rem;

        img{
            width: 30rem;
        }
    }


    .writing{
        position: relative;
        left: 3rem;
        top: 1.5rem;
        width: 29rem;

        span{
            padding: .2rem;
        }
    
        h2{
            margin: 1.7rem 0;
            font-size: 40px;
            line-height: 50px;
        }
    
        p{
            margin-bottom: 1.3rem;
        }
    }


}

.sales{

    .container h2{
        margin: 1rem 0;
    }

    .card-container{
        @include grid(280px, 1rem);
        align-items: center;
        margin-top: 5rem;

        .card{
            display: flex;
            flex-direction: column;
            width: 280px;
            position: relative;

            img{
                width: 280px;
                height: 280px;
            }
            
            .onImage{
                position: absolute;

                .status{
                    padding: .4rem 1rem;
                    border-radius: .3rem;
                    position: inherit;
                    left: .9rem;
                    top: 1.3rem;
                }


                .logos{
                    display: flex;
                    justify-content: center;
                    gap: .5rem;
                    position: inherit;
                    left: 5rem;
                    top: 14rem;

                    div{
                        padding: 12px 10px 9px 10px;
                        background: white;
                        border-radius: 20px;

                        .logo{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            
                        }

                    }

                }


            }

            .content{
                padding: 1rem;
                width: 300px;
    
                .flex{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 6.5rem;
                    width: 4rem;

                    .rate{
                        color: white;
                        background: $dark-bg;
                        padding: .5rem;
                        border-radius: .5rem;
                        display: flex;
                        flex-direction: row;
                    }
                }
    
                .sector{
                    margin: 1rem 0;
                }

                .ico{
                    width: 15px;
                    height: 15px;

                    img{
                        width: 15px; height: 15px;
                    }
                }

                .numberSold{
                    margin: .6rem 0;
                }

                .price{
                    margin: 1rem 0;
                    font-size: 1.1rem;
                }

                .flx{
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0.1rem;

                    span{
                        font-size: 0.9rem;
                    }
                }

                a{
                    position: relative;
                    top: 1.3rem;
                    left: 30%;
                    padding: .5rem;
                    border-radius: 1.5rem;
                    border: 1px solid $blue;
                }
            }
        } 
            

    }
}

.rates{
    .opinion-container{
        @include grid(17rem, 1rem);
        margin: 5rem 0;

        
        .opinion{
            width: 11rem;
            p{
                text-align: center;
            }

            .stars{
                margin: 0 1.5rem;
            }

            .poster{
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 2rem 0;

                img{
                    border-radius: 2rem;
                }

                p{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                }
            }
        }
    }
}

.newletter{
    .container{
        text-align: center;

        h2{
            margin: 1rem;
        }
    }

    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3rem;

        input[type="email"]{
            padding: 1rem 1rem;
            width: 35rem;
            background: rgba(242, 240, 240, 0.4);
            border: 1px solid rgb(218, 208, 208);
            border-radius: .2rem;

        }
        
        input[type="submit"]{
            padding: 1rem .5rem;
            color: white;
            border-radius: .2rem;
            width: 8rem;
        }

    }
}
//section class end

footer {
    .foot{
        @include grid(10rem, 3rem);
        padding: 2rem;
        justify-content: center;


        .bloc{
            
            h3{
                margin: 1rem 0;
            }

            .content{
                display: flex;
                flex-direction: column;

                a{
                    margin: .5rem 0;
                    color: $blue;
                }
            }
        }
    }

    .copyright{
        text-align: center;
        text-transform: capitalize;
        padding: 1.5rem;
        background: rgba(242, 240, 240, 1); 
    }
}


@media (max-width: 645px){
    footer .foot{
        display: flex;
        flex-direction: column;
        gap: 2rem;

    }

    header #content {
        padding: 0;
        scale: 0.8;
    }
}

@media (min-width: 646px) and (max-width:870px){
    footer .foot{
        @include grid(10rem, 15rem);
    }
}

@media (max-width:870px){
    .course{
        .img-container{
           width: 20rem;
           
            img{
                width: 20rem;
            }
        
        }

        .writing{
            scale: .8;
        }
    }

    .rates{
        .opinion-container{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            scale: 1;

            .opinion{
                margin: auto;
            }
        }
    }
}

@media (min-width: 871px) and  (max-width:1045px){
    .rates .opinion-container{
        @include grid(10rem, 1rem);
        margin: 3rem 0;
        scale: 0.8;
    }
    
}

@media (max-width:1045px){

    header #menu #logging{
        left: 50%;
    
        #login, #signup{
            display: none;
        }
    
    
        #login-btn{
            display: inline-block;
            padding: 1rem;
            border-radius: .5rem;
            cursor: pointer;
            position: relative;
            top: 0rem;
    
            &:hover{
                background: $blue;
                transition: 1s ease;
            }
        }
    } 
    
    #advice .container .card-container, .sales .card-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        scale: 1;

        .card{
            margin: auto;
        }
    }

    .course{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}


@media (max-width:1210px){
    header #menu{
        nav{
            position: absolute;
            top: 6rem; left: 0; right: 0;

            background: white;
            border-top: $border;
            border-bottom: $border;

            width: 100%;
            height: 26vh;
            padding: 2rem;

            display: flex;
            flex-direction: column;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                transition: 1s ease;
            }

            a{
                text-align: left;
                font-size: 1rem;
                margin: .5rem;
                color: black;
            }
        }
        
        #logging{
            align-items: end;
            .btn-menu{
                display: inline-block;
                top: 1rem;
                color: white;
                fill: white;

                &:hover{
                    background-color: $blue;
                    transition: 1s ease;
                }
            }
        }
    }
}

@media (min-width: 1046px) and  ( max-width:1210px){

    section{
        padding: 9% 6%;
    }

    

    
    #advice .container{
        
        .card-container{
            @include grid(16rem, 1rem);
            scale: 0.8;
        }

    }

    .course{
        margin: auto;
    }

    .sales{
        
        .card-container{
            @include grid(16rem, 1rem);
            scale: 0.8;
            margin: 9% 4%;
        }
    }
   
}