@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy?display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

$dark-bg: rgb(44, 38, 38);
$blue: rgb(65, 155, 211);
$red: rgb(225, 50, 50);
$gray: rgb(111, 110, 110);
$light-gray: rgb(200, 197, 197);
$green: rgb(55, 179, 55);
$border: .5rem solid rgba(0,0,0,.2);
$box-shadow: -0.2rem 0.5rem 20px rgba(0,0,0, .1);

@mixin grid($val, $gap) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: $gap;
}

section{
    padding: 9% 13%;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 0.95rem;
    color: $gray;
}

.btn{
    cursor: pointer;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}

.blue{
    color: $blue;
}

.red{
    color: $red;
}
.gray{
    color: $gray;
}
.l-gray{
    color: $light-gray;
}
.green{
    color: $green;
}

.blue-bg{
    background-color: $blue;
}

.red-bg{
    background-color: $red;
    color: white;
}

.bold{
    font-weight: bolder;
}


// trait
.stick{
    display: inline-block;
    width: 6rem;
    padding: .1rem;
}

//stars
.fa-star, .fa-star-half-alt{
    color: rgb(213, 213, 11);
}

//Social network
.fab{
    color: $blue;
    margin: .5rem;
    margin-top: 2rem ;
}

header{
    background-image: $dark-bg ;
    position: relative;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    opacity: 1.5;

    &::before{
        content: "";
        background-image: url("../images/header1.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    #menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        color: white;
        padding: 1.5rem;
        margin-bottom: 7rem;

        h1{
            position: relative;
            left: 10%;
            font-size: 1.4rem;
        }

        nav{
            position: relative;
            left: 15%;
            font-size: 1rem;
            display: flex;
            width: 25%;

            &.active{
                display: flex;
            }

            a{
                margin: 0 auto;
                color: white;
                
            }
        }

        #logging{
            position: relative;
            left: 35%;
            align-items: center;

            #login{
                cursor: pointer;
                padding: 1rem;
                border-radius: .5rem;

                &:hover{
                    background: $blue;
                    border-radius: .5rem;
                    padding: 1rem;
                }

            }

            #login-btn{
                display: none;
            }

            .btn-menu{
                width: 3rem;
                padding: .8rem;
                border-radius: .5rem;
                margin: 0 .4rem;
                position: relative;
                top: .5rem;
                cursor: pointer;
                display: none;
            }

            .btn{
                margin-left: 2rem;
                background: $blue;
            }
        }
    }

    #content{
        margin: auto;
        padding: 5rem;
        text-align: center;

        #p1{
            font-size: 1.7rem;
            font-weight: 900;
        }

        #p2, #p2_{
            color: white;
            font-size: 4rem;
            font-weight: bolder;
            text-transform: uppercase;
        }

        #p2{
            margin-top: 3rem;
        }
        
        #p3{
            margin: 3rem 0 2rem 0;
            color: white;
            text-transform: initial;
        }

        .btn{
            color: white;
            background: $blue;
        }
    }
}

.login_sec{
    position: absolute;
    top: 7rem;
    background: white;
    width: 98vw;
    height: 95vh;
    display: none;


    &.active{
        display: flex;
    }

    .content{
        margin: auto;
        padding: 2rem 2rem;
        border: 1px solid $light-gray;
        border-radius: 1rem;

        h2{
            font-size: 1.5rem;
            margin: 1rem 0;
        }

        form{
            margin-top: 2rem;
            margin-bottom: 1rem ;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input{
                display: flex;
                width: 100%;
                background: $light-gray;
                padding: .4rem .5rem;
                border-radius: .5rem;
            }

            input[type="submit"]{
                width: 25%;
                background: white;
                color: $blue;
                border: 1px solid $blue;
                border-radius: .8rem;
                margin: auto;

                &:hover{
                    background: $blue;
                    color: white;
                    transition: 1s ease;
                }
                
            }
        }
    }
}

.signupSec{
    position: absolute;
    top: 7rem;
    background: white;
    width: 98vw;
    height: 95vh;
    display: none;


    &.active{
        display: flex;
    }

    .content{
        margin: auto;
        padding: 2rem 2rem;
        border: 1px solid $light-gray;
        border-radius: 1rem;

        h2{
            font-size: 1.5rem;
            margin: 1rem 0;
        }

        form{
            margin-top: 2rem;
            margin-bottom: 1rem ;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input{
                display: flex;
                width: 100%;
                background: $light-gray;
                padding: .4rem .5rem;
                border-radius: .5rem;
            }

            input[type="submit"]{
                width: 25%;
                background: white;
                color: $blue;
                border: 1px solid $blue;
                border-radius: .8rem;
                margin: auto;

                &:hover{
                    background: $blue;
                    color: white;
                    transition: 1s ease;
                }
                
            }
        }
    }
}


#advice .container .card-container{
    @include grid(18rem, 5rem);
    padding: 2rem 0;

    .card{
        padding: 2rem 2rem;
        text-align: left;
        background: white;
        box-shadow: $box-shadow;
        max-width: 300px;

        h3{
            font-size: 1.9rem;
        }

        img{
            width: 4rem;
            height: 4rem;
            margin: 0 2rem;
        }
    }
}

.course{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    .img-container{
        flex: 1 1 25rem;    
    }


    .writing{
        position: relative;
        left: 3rem;
        top: 1.5rem;

        span{
            padding: .2rem;
        }
    
        h2{
            margin: 1.7rem 0;
        }
    
        p{
            margin-bottom: 1.3rem;
        }
    }


}

.sales{
    .card-container{
        @include grid(20rem, .5rem);
        align-items: center;
        margin-top: 5rem;

        .card{
            display: flex;
            flex-direction: column;
            width: 400px;
            position: relative;

            img{
                width: 383px;
                height: 337px;
            }
            
            .onImage{
                position: absolute;

                .status{
                    padding: .4rem 1rem;
                    border-radius: .3rem;
                    position: inherit;
                    left: .9rem;
                    top: 1.3rem;
                }


                .logos{
                    display: flex;
                    justify-content: center;
                    gap: .5rem;
                    position: inherit;
                    left: 6.8rem;
                    top: 16.5rem;

                    .logo{
                        width: 3rem;
                        height: 3rem;
                        border-radius: 1.5rem;
                        cursor: pointer;
                    }
                }


            }

            .content{
                padding: 2.5rem;
    
                .flex{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 9rem;
                    width: 4rem;

                    .rate{
                        color: white;
                        background: $dark-bg;
                        padding: .5rem;
                        border-radius: .5rem;
                        display: flex;
                        flex-direction: row;
                    }
                }
    
                .sector{
                    margin: 1rem 0;
                }

                .numberSold{
                    margin: .6rem 0;
                }

                .price{
                    margin: 1rem 0;
                    font-size: 1.1rem;
                }

                .flx{
                    display: flex;
                    justify-content: space-between;
                }

                a{
                    position: relative;
                    top: 1.3rem;
                    left: 30%;
                    padding: .5rem;
                    border-radius: 1.5rem;
                    border: 1px solid $blue;
                }
            }
        } 
            

    }
}

.rates{
    .opinion-container{
        @include grid(10rem, 19rem);
        margin: 5rem 2rem;

        
        .opinion{
            
            p{
                text-align: center;
            }

            .stars{
                margin: 0 1.5rem;
            }

            .poster{
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 2rem 0;

                img{
                    border-radius: 2rem;
                }

                p{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                }
            }
        }
    }
}

.newletter{
    .container{
        text-align: center;

        h2{
            margin: 1rem;
        }
    }

    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3rem;

        input[type="email"]{
            padding: 1rem 1rem;
            width: 35rem;
            background: rgba(242, 240, 240, 0.4);
            border: 1px solid rgb(218, 208, 208);
            border-radius: .2rem;

        }
        
        input[type="submit"]{
            padding: 1rem .5rem;
            color: white;
            border-radius: .2rem;
            width: 8rem;
        }

    }
}

footer {
    .foot{
        @include grid(10rem, 8rem);
        padding: 1rem;
        justify-content: center;


        .bloc{
            
            h3{
                margin: 1rem 0;
            }

            .content{
                display: flex;
                flex-direction: column;

                a{
                    margin: .5rem 0;
                    color: $blue;
                }
            }
        }
    }

    .copyright{
        text-align: center;
        text-transform: capitalize;
        padding: 1.5rem;
        background: rgba(242, 240, 240, 1); 
    }
}


@media (max-width:795px){
    
    header #menu #logging{
        left: 50%;

        #login, #signup{
            display: none;
        }
    
    
        #login-btn{
            display: inline-block;
            padding: 1rem;
            border-radius: .5rem;
            cursor: pointer;
            position: relative;
            top: 0rem;
    
            &:hover{
                background: $blue;
                transition: 1s ease;
            }
        }
    }

    .course .img-container img{
        width: 80vw;
        height: 60vh;
    }
}

@media (max-width:892px){
    .sales{
        .card-container{
            justify-content: center;

            .card{
                margin: auto;
            }
        }
    }
}

@media (max-width:1100px){

    header #menu{
        nav{
            position: absolute;
            top: 12%; left: 0; right: 0;

            background: white;
            border-top: $border;
            border-bottom: $border;

            width: 98vw;
            height: 12rem;
            padding: 2rem;

            display: flex;
            flex-direction: column;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                transition: 1s ease;
            }

            a{
                text-align: left;
                font-size: 1rem;
                margin: .5rem;
                color: black;
            }
        }
        
        #logging{
            align-items: end;
            .btn-menu{
                display: inline-block;
                top: 1rem;

                &:hover{
                    background-color: $blue;
                    transition: 1s ease;
                }
            }
        }
    }

    .course{
        flex-wrap: wrap;
    }
   
}

@media (max-width:1568px){
    .rates{
        .opinion-container{
            gap: 5rem;
            .opinion{
                width: 75%;
            }
        }
    }
}